@import './Foundation/reset.scss';
@import './Foundation/base.scss';

@import './fontawesome.scss';
@import './solid.scss';
@import './brands.scss';


@import './Layout/l-wrapper.scss';
@import './Layout/l-header.scss';
@import './Layout/l-footer.scss';

@import './Object/Project/p-footer.scss';

@import './Object/Project/p-header.scss';