.p-carousel {
  &__banner {
    .carousel {
      .carousel-indicators {
        align-items: center;
        [data-bs-target] {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          cursor: pointer;
          &.active {
            background: #f00;
            border: solid #fff 1px;
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          img {
            height: 350px;
            object-fit: cover;
          }
        }
      }
    }
  }
  &__product {
    // @media (max-width: 767px) {
    //   .carousel-inner .carousel-item > div {
    //     display: none;
    //   }
    //   .carousel-inner .carousel-item > div:first-child {
    //     display: block;
    //   }
    // }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {
      .carousel-inner .carousel-item-end.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(20%);
      }

      .carousel-inner .carousel-item-start.active,
      .carousel-inner .carousel-item-prev {
        transform: translateX(-20%);
      }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
      transform: translateX(0);
    }

    .col-md-2-4 {
      width: 20%;
      padding: 0 10px;
    }
  }
}
