.p-header {
  display: flex;
  justify-content: space-between;
  .p-header-right {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    &__search-lang {
      display: flex;
      justify-content: flex-end;
      .search {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        width: 270px;
        justify-content: space-between;
        padding-left: 10px;
        align-items: center;
        overflow: hidden;
        border-right: none;
        input {
          border: none;
          width: 100%;
          outline: none;
          height: 100%;
        }
        i {
          padding: 8px 12px;
          color: #ccc;
          border-right: 1px solid #ccc;
          &:hover {
            background: #DE1C36;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .lang {
        display: flex;
        align-items: center;
        padding-left: 20px;
        a {
          cursor: pointer;
          img {
            padding-left: 10px;
          }
        }
      }
    }
    &__menu {
      ul {
        display: flex;
        li {
          padding: 0px 8px;
          font-size: 0.9rem;
          a {
            color: #000;
            padding: 5px;
            &:hover {
              background: #0f4a89;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
